body {
    margin: 0;
    padding: 0;  
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
  }

  .center h1 {
    text-align: center;
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
  }

  .center h3 {
    text-align: center;
    padding-bottom: 20px;
  }

  .txt_field {
    text-align: center;
    margin-bottom: 20px;
  }

  .txt_field input {
    text-align: center;
  }