* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* --------------------------------------- */
/* ----- beginning of form 1 ----- */
/* --------------------------------------- */











/* --------------------------------------- */
/* ----- media query ----- */
/* --------------------------------------- */




